body {
	margin: 0 auto;
}

.navbar.navbar-default  {
	margin: 0;
}

#editor {
	text-align: left;
}

#code-viewer {
	width: 100%;
	min-height: 100%;
	background: white;
}

.CodeMirror {
  border: 1px solid #eee;
  width: 100%;
  height: 300px;
  background: white;
}

#renderer {
	width: 100%;
	min-height: 100%;
	background: white;
}

.btn.btn-default.navbar-btn {
	background: white;
	color: orange;
}

.glyphicon {
	color: orange;
}

iframe {
	border: none;
}

h5 {
	text-align: center;
	padding-bottom: 6px;
	color: #1180BF;
	font-weight: normal;
	font-size: 1em;
}

.html-vocab-panel {
	background: #F7F7F7;
	height: 145px; 
	overflow: hidden; 
	overflow-y: scroll;
}

.fill-right-column {
	background: #D8D8D7;
	border-top: 1px solid white;
  	border-bottom: 1px solid white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	min-height: 90%;
	left: 33%;
	position: absolute;
}

.fill-left-column {
	background: #D8D8D7;
	border-top: 1px solid white;
  	border-bottom: 1px solid white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	min-height: 90%;
	left: 66%;
	position: absolute;
}

#div1 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}